@import "../../_helpers/variables";
footer {
  padding: 15px 0 15px;
  margin-top: auto;
  background: #212129;
  position: relative;
  z-index: 2;
  @media only screen and (max-width: $responsive-size-stand-mobile) {
    padding: 20px 0;
  }
  .container {
    padding: 30px 130px;
    @media only screen and (max-width: $responsive-size-big-tablet) {
      flex-direction: column;
      padding: 10px 10px;
    }
  }
  .footer-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    color: #FFFFFF;
  }
  .footer-nav-inner {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    width: 65%;
  }
  .footer-nav nav {
    display: inline-block;
    vertical-align: top;
    font-size: 1rem;
    width: 33%;
    @media only screen and (max-width: $responsive-size-stand-mobile) {
      width:100%;
    }
  }
  .footer-nav nav ul li {
    padding-top: 10px;
  }
  .footer-nav nav ul li a svg {
    margin-right: 10px;
  }
  .footer-nav nav .title {
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    text-transform: uppercase;
  }
  .footer-logo {
    width: 35%;
    @media only screen and (max-width: $responsive-size-stand-mobile) {
      width:100%;
    }
  }
  .logo-text {
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.205em;
    text-transform: uppercase;
    color: #E8C76F;
    display: block;
    padding-top: 25px;
  }
  .logo-desc {
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 45px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 5px;
  }
  .footer-copyright {
    display: flex;
    border-top: 1px solid rgba(219, 219, 219, 0.2);
  }
  .copyright {
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    padding-left: 130px;
    width: 50%;
    padding-top: 15px;
    @media only screen and (max-width: $responsive-size-big-tablet) {
      padding-left: 10px;
    }
    p {
      margin: 0;
    }
  }
  a {
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    text-decoration: none;
    &:hover,
    &:focus {
      color: rgba(255, 255, 255, 1);
      text-decoration: underline;
    }
  }
  .social {
    margin: 0 auto;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    @media only screen and (max-width: $responsive-size-big-tablet) {
      width: 100%;
      padding: 20px 0;
    }
    li {
      padding: 0 25px;
      @media only screen and (max-width: $responsive-size-big-tablet) {
        padding: 0 0 0 25px;
      }
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
      a {
        display: flex;
        align-items: center;
        text-decoration: none;
        font-size: 13px;
        line-height: 24px;
        color: rgba(255, 255, 255, 0.5);
        transition: all linear 0.3s;
        .ico {
          display: block;
          margin-right: 8px;
          svg {
            display: block;
            transition: all linear 0.3s;
            path {
              transition: all linear 0.3s;
            }
          }
        }
        &:hover {
          color: rgba(255, 255, 255, 1);
        }
      }
    }
  }
  .info {
    display: flex;
    align-items: center;
    padding-top: 10px;
    @media only screen and (max-width: $responsive-size-stand-mobile) {
      flex-direction: column;
      align-items: flex-start;
      padding-left: 50px;
      padding-top: 17px;
    }
    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      font-size: 16px;
      line-height: 17px;
      color: #FFFFFF;
      margin-right: 50px;
      @media only screen and (max-width: $responsive-size-stand-mobile) {
        margin-top: 10px;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        margin-right: 0;
        &:first-child {
          margin-top: 0;
        }
      }
      svg {
        display: block;
        margin-right: 10px;
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }
}