@import "variables";
//@font-face {
//  font-family: 'Intro';
//  src: url('../../fonts/Intro.woff2') format('woff2'),
//  url('../../fonts/Intro.woff') format('woff'),
//  url('../../fonts/Intro.ttf') format('truetype'),
//  url('../../fonts/Intro.svg#Intro') format('svg');
//  font-weight: normal;
//  font-style: normal;
//  font-display: swap;
//}
.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
}
p,
span,
a {
}

a {
  color: #fff;

  &:hover {
    text-decoration: none;
  }
}

html {
  min-height: 100%;

  display: flex;
  flex-direction: column;
}

html,
body,
.wrapper {
  display: flex;
  flex-direction: column;
}

body {
  min-height: 100%;
  flex: 1;
  width: 100%;
  background: #212129;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.75);
}
.flex {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.flex-center-x {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.flex-end-x {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.flex-end-y {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  align-content: flex-end;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.flex-center-y {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  align-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.flex-space-b {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.flex-space-y {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  align-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.no-wrap {
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
img {
  display: block;
  max-width: 100%;
  height: fit-content;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  word-break: break-all;
}

/*
=====
SETTINGS
=====
*/

:root {
  --colorWhite: #fff;
  --colorMain: #4557bb;
  --rLinkTextColor: var(--colorMain);
  --menuCircleSize: 100px;
  --menuCircleBgColor: var(--colorMain);
  --menuHamburgerWidth: 28px;
  --menuHamburgerHeight: 20px;
  --menuHamburgerBgColor: var(--colorWhite);
}
ul {
  padding-left: 0;
}

ul,
li {
  list-style-type: none;
}
.container {
  @media only screen and (min-width: 992px) {
    max-width: 100%;
  }
  @media only screen and (max-width: 992px) {
    max-width: 100%;
  }
  @media only screen and (max-width: $responsive-size-big-tablet) {
    padding-left: 30px;
    padding-right: 30px;
  }
}
//@media screen and (min-width: 990px) {
//  .container {
//    width: 990px;
//
//  }
//}
@media screen and (min-width: 1200px) {
  .container {
    width: 100%;
    max-width: 1600px;
  }
}

//flex

.flex {
  display: flex;
}

.f-align-center {
  align-items: center;
}

.f-align-end {
  align-items: flex-end;
}

.f-align-start {
  align-items: flex-start;
}

.f-content-end {
  justify-content: flex-end;
}

.f-space-between {
  justify-content: space-between;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-1 {
  flex: 1;
}

//end flex

.page {
  padding-top: 50px;
}
.overflow {
  overflow: hidden;
}

h1 {
  font-family: 'Intro', sans-serif;
  font-weight: bold;
  font-size: 100px;
  line-height: 100px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 0px 7px 0px rgba(0, 0, 0, 0.25);
  margin: 0;
  @media only screen and (max-width: $responsive-size-laptop-screen) {
    font-size: 70px;
    line-height: 70px;
  }
  span {
    display: block;
    font-size: 41px;
    line-height: 41px;
    text-transform: uppercase;
    color: #E8C76F;
    text-shadow: 0px 7px 0px rgba(0, 0, 0, 0.25);
    @media only screen and (max-width: $responsive-size-laptop-screen) {
      font-size: 30px;
      line-height: 30px;
    }
  }
}
h2 {
  font-family: 'Intro', sans-serif;
  font-weight: bold;
  font-size: 60px;
  line-height: 60px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0;
  @media only screen and (max-width: $responsive-size-laptop-screen) {
    font-size: 40px;
    line-height: 40px;
  }
  span {
    display: block;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    color: #E8C76F;
    @media only screen and (max-width: $responsive-size-laptop-screen) {
      font-size: 17px;
      line-height: 17px;
    }
  }
}

h5 {
  font-family: 'Intro', sans-serif;
  font-weight: bold;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  margin: 0;
}
.title-page {
  font-size: 42px;
  line-height: 42px;
  text-transform: uppercase;
  color: #FFFFFF;
}
h1.black,h2.black,h3.black,h4.black,h5.black,h6.black {
  color: #1E2632;
}
.text-center {
  text-align: center;
}

.mt-auto {
  margin-top: auto;
}
.ml-auto {
  margin-left: auto;
}
.mr-auto {
  margin-right: auto;
}
.mb15 {
  margin-bottom: 15px;
}
.mb20 {
  margin-bottom: 20px;
}
.mt20 {
  margin-top: 20px;
}
.mb30 {
  margin-bottom: 30px;
}
.mb30m {
  @media only screen and (max-width: $responsive-size-big-tablet) {
    margin-bottom: 30px;
  }
}
.mb45 {
  margin-bottom: 45px;
}
.mb45m {
  @media only screen and (max-width: $responsive-size-big-tablet) {
    margin-bottom: 45px;
  }
}
.mob-show {
  display: none !important;
  @media only screen and (max-width: 1199px) {
    display: flex !important;
  }
}
.mob-show-status {
  display: none !important;
  @media only screen and (max-width: $responsive-size-big-tablet) {
    display: flex !important;
  }
}
.mob-hide {
  display: block !important;
  @media only screen and (max-width: 1199px) {
    display: none !important;
  }
}