// [Responsive]
//==================================================

$responsive-size-laptop-screen: 1368px;
$responsive-size-big-screen: 1280px;
$responsive-size-desktop: 1024px;
$responsive-size-big-tablet: 990px;
$responsive-size-tablet: 824px;
$responsive-size-stand-mobile: 767px;
$responsive-size-big-mobile: 640px;
$responsive-size-mobile: 480px;
$responsive-size-phone: 320px;

$adaptive-size-phone: 390px;

// [Color]
//==================================================
