.home {
  padding-top: 50px;
}

.home__section-lottery {
  padding-bottom: 48px;
}

.home__section-history {
  background-color: #f3f3f3;
  padding-top: 75px;
  padding-bottom: 65px;
}

.home-lottery {
  padding-top: 50px;
  padding-bottom: 200px;
  color: black;
}
.home__lottery-wrapper {
  // display: flex;
  // align-items: center;
  // justify-content: center;
  margin-bottom: 30px;
}

.home__draw-wrapper {
  // display: flex;
  // justify-content: center;
  margin-bottom: 65px;
}

.main-title.home__title {
  text-align: center;
  margin-bottom: 35px;
}

.main-title.home__title::after {
  height: 0px;
  width: 0px;
}

@media screen and (min-width: 400px) {
  .main-title.home__title {
    text-align: unset;
    width: 260px;
    margin-bottom: 35px;
  }

  .main-title.home__title::after {
    height: 2px;
    width: 40px;
  }
}

.main-title.home__history-title {
  width: 250px;
}

@media screen and (min-width: 400px) {
  .main-title.home__history-title {
    width: 260px;
    font-size: 22px;
    line-height: 24px;
  }
}

.main-title.top-title {
  width: 270px;
}

.home__title.second {
  width: 276px;
  margin-bottom: 50px;
}

@media screen and (min-width: 400px) {
  .main-title.top-title {
    width: 290px;
  }

  .home__title.second {
    width: 306px;
  }
}

.main-title.home__partner-title {
  width: 170px;
}

.home-lotteryy-lottery__element {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.1);
  padding: 21px 15px 20px 60px;
}

.home-lottery-lottery__title-wrapper {
  margin: 0 auto;
}

.home-lottery__title {
  position: relative;
  margin: 0 auto 35px;
  text-align: left;
  width: 240px;
  font-weight: 700;
  font-size: 26px;
  line-height: 24px;
  text-transform: uppercase;
  color: black;
}

.home-lottery__title::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -60px;
  height: 2px;
  width: 40px;
  background-color: #f6c465;
}

.home-lottery__element:not(:last-child) {
  margin-bottom: 30px;
}

.home-lottery__container {
  width: 100%;
  margin-right: 30px;
  // padding-left: 20px;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.1);
  padding-bottom: 30px;
  margin-bottom: 10px;
}

.home-lottery__wrapper-left__title {
  position: relative;
}

.home-lottery__wrapper-left__title::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -37px;
  height: 1px;
  width: 20px;
  background-color: #000000;
}

.home-lottery__lottery-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #212129;
  margin-bottom: 7px;
}

.home-lottery__lottery-element {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  font-family: "Rubik";
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #212129;
  border-radius: 50%;
  border: solid 2px #f6c465;
}

.home-lottery__lottery-element:not(:last-child) {
  margin-right: 12px;
}

.home-lottery__date-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #212129;
}

.home-lottery__container-1 {
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
  // padding-left: 20px;
}

.home-lottery__container-2 {
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
  // padding-left: 20px;
}

.home-lottery__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 100%;
  margin-bottom: 20px;
  background-color: #f6c465;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

.home-lottery__wrapper-1 {
  display: inline-block;
  margin-right: 15px;
}

.home-lottery__wrapper-2 {
  display: inline-flex;
  align-items: center;
}

.home-lottery__wrapper-3 {
  display: inline-flex;
  align-items: center;
  padding-left: 20px;

  & span {
    margin-right: 11px;
  }
  & svg {
    margin-right: 14px;
  }
}

.home-lottery__wrapper-4 {
  display: inline-flex;
  align-items: center;
  & span {
    margin-right: 11px;
  }
}

.home-lottery__wrapper-5 {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.home-lottery__date-title,
.home-lottery__hash-title,
.home-lottery__winner-title,
.home-lottery__price,
.home-lottery__buy-ticket {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #212129;
  opacity: 0.5;
}

.home-lottery__buy-ticket__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000;
}

.home-lottery__date {
  display: block;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
}

.home-lottery__hash-title,
.home-lottery__buy-ticket__title,
.home-lottery__winner-title {
  line-height: 18px;
}

.home-lottery__hash {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #212129;
}

.home-lottery__price-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
}

.home-lottery__price {
  line-height: 22px;
}

.home-lottery__price-icon {
  margin-right: 12px;
}

.home-lottery__text {
  font-family: "Exo 2";
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 0;
  color: #212129;
  opacity: 0.5;
}

.home-lottery__time {
  font-family: "Exo 2";
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
}

.home-lottery__timeout-wrapper {
  margin-right: 12px;
}

.home-lottery__ticket-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 0;
  font-family: "Exo 2";
  height: 120px;
  width: 100%;
  padding-top: 21px;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #212129;
  background: linear-gradient(87.16deg, #ffe58b -4.55%, #e8922d 103.59%);
  overflow: hidden;
  transition: 200ms ease-in-out;
  &:hover,
  &:focus {
    transform: scale(1.05);
  }
  & svg {
    margin-right: 7px;
    margin-bottom: 10px;
    fill: #212129;
    transition: 250ms ease-in-out;
  }
  p {
    transition: 250ms ease-in-out;
  }
  &:hover p,
  &:focus p,
  &:hover svg,
  &:focus svg {
    color: #212129;
    fill: #212129;
  }
}

.home-lottery__ticket-wrapper::before,
.home-lottery__ticket-wrapper::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #ffffff;
}

.home-lottery__ticket-wrapper::after {
  left: -30px;
  top: 50%;
  transform: translateY(-50%);
}

.home-lottery__ticket-wrapper::before {
  right: -30px;
  top: 50%;
  transform: translateY(-50%);
}

.home__draw-element {
  display: flex;
  justify-content: space-between;
  box-sizing: content-box;
  padding: 20px 0 15px 20px;
  background: linear-gradient(87.16deg, #ffe58b -4.55%, #e8922d 103.59%);
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.1);
  & img {
    width: 150px;
    height: 166px;
    margin-top: auto;
  }
}

.home__draw-element:first-child {
  margin-bottom: 20px;
}

.home__draw-element__wrapper ~ div {
  display: none;
}

@media screen and (min-width: 400px) {
  .home__draw-element__wrapper ~ div {
    display: flex;
    align-items: flex-end;
  }
}

.home__draw-title {
  position: relative;
  width: 140px;
  font-family: "Exo 2";
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 20px;
}

.home__draw-title:after {
  content: "";
  position: absolute;
  height: 1px;
  width: 20px;
  right: 0;
  top: 50%;
  background-color: #000000;
}

.home__draw-wrapper__timeout {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
  & svg {
    margin-right: 12px;
  }
}

.home__draw-timeout__title-wrapper {
  & p {
    margin-bottom: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #212129;
    opacity: 0.75;
  }
  & span {
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
  }
}

.home__draw-wrapper__statistics {
  display: flex;
  align-items: center;
  margin-bottom: 28px;
  & svg {
    margin-right: 12px;
  }
}

.home__draw__statistics__title-wrapper {
  font-size: 14px;
  line-height: 18px;
  color: #212129;
  opacity: 0.75;
  & p {
    margin: 0;
  }
  & p:not(:last-child) {
    margin-bottom: 8px;
  }
}

.home__draw-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 185px;
  height: 50px;
  border: 1px solid #212129;
  border-radius: 50px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #212129;
  text-decoration: none;
  transition: 250ms ease-in-out;
  & svg {
    margin-right: 10px;
    fill: #212129;
    transition: 250ms ease-in-out;
  }
}

.home__draw-btn:hover,
.home__draw-btn.focus {
  color: #ffffff;
  & svg {
    fill: #ffffff;
  }
}

.home__crypto-element {
  position: relative;
  // display: flex;
  // align-items: center;
  // justify-content: space-around;
  // padding-left: 13px;
  width: 100%;
  height: 61px;
  border: 1px solid #f6c465;
  border-radius: 5px;
  transition: 200ms ease-in-out;
  &:hover,
  &:focus {
    transform: scale(1.05);
  }
}

.home__crypto-element::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1px;
  height: 31px;
  background-color: #d6d6d6;
  transform: translateY(-50%);
}

.home__crypto-element__title {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: #212129;
}

.home__crypto-element__price {
  display: block;
  font-size: 14px;
  line-height: 22px;
  color: #212129;
  opacity: 0.5;
}

.home__crypto-element:not(:last-child) {
  margin-bottom: 20px;
}

.home__crypto-wrapper {
  width: 100%;
}

.home__crypto-element__wrapper-1 {
  display: flex;
  align-items: center;
  // margin-right: 50px;
  // padding-right: 36px;
  // border-right: 1px solid #d6d6d6;
  & img {
    display: block;
    margin-right: 12px;
  }
}

.home__history-list {
  margin-bottom: 40px;
}

.home__history-element {
  width: 100%;
}

.home__history-element:not(:last-child) {
  margin-bottom: 20px;
}

.home__history-header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  // width: 100%;
  padding: 0 17px 0 17px;
  background-color: #f6c465;
}
.home__history-element__date-wrapper {
  & span {
    display: block;
  }
}

.home__history-element__date__title {
  font-weight: 300;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
}

.home__history-element__text-title {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #665b4d;
}

.home__history-element__title {
  position: relative;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

.home__history-element__title::after {
  position: absolute;
  content: "";
  right: -35px;
  top: 50%;
  height: 1px;
  width: 20px;
  background-color: #212129;
}

.home__history-win__wrapper {
  padding-top: 15px;
  padding-bottom: 18px;
  background-color: #ffffff;
}

.home__history-win__list {
  display: flex;
  justify-content: center;
}

.home__history-win__element {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: solid 2px #f6c465;
  font-family: "Rubik";
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #212129;
}

.home__history-win__element:not(:last-child) {
  margin-right: 12px;
}

.home__history-win__title {
  font-family: "Exo 2";
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #212129;
}

.home__history-stat__wrapper {
  background-color: #f3f3f3;
  margin-bottom: 9px;
}

.home__history-stat__wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  & > div {
    display: flex;
    align-items: center;
  }
}

.home__history-stat__title-wrapper {
  & p {
    font-family: "Exo 2";
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    margin: 0;
    color: #212129;
    opacity: 0.5;
  }
  & span {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #212129;
  }
}

.home__history-stat__wrapper {
  & svg {
    margin-right: 10px;
  }
}

.home__history-stat__wrapper {
  padding: 9px 0 9px 0;
}

.home__history-price__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding-top: 20px;
  padding-bottom: 14px;
  & svg {
    margin-right: 12px;
  }
}

.home__history-price__title {
  display: block;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
}

.home__history-price__title-price {
  display: block;
  font-size: 14px;
  line-height: 24px;
  color: #665b4d;
}

.home__history-title {
  position: relative;
  margin: 0 auto 50px;
  width: 300px;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
}

@media screen and (min-width: 400px) {
  .home__history-title {
    font-size: 26px;
    line-height: 24px;
  }
}
.home__history-title::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  height: 2px;
  width: 40px;
  background-color: #f6c465;
}

.home__history-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  margin: 0 auto;
  width: 172px;
  height: 47px;
  border-radius: 50px;
  border: 1px solid #f6c465;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  background-color: #f2f2f2;
  color: #212129;
  outline: none;
  transition: 250ms ease-in-out;
  &:hover,
  &:focus {
    background-color: #f6c465;
  }
}

.home__section-top {
  background-color: #ffffff;
  padding-top: 66px;
}

.home__lop-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  margin: 0 auto;
  flex-wrap: wrap;
  padding-bottom: 60px;
  border-bottom: 1px solid #dadada;
}

.home__lop-element {
  width: 55px;
  transition: 200ms ease-in-out;
  margin-bottom: 20px;
  &:hover,
  &:focus {
    transform: scale(1.05);
  }
  & a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: 700;
    font-size: 20px;
    line-height: 16px;
    color: #212129;
    &:hover,
    &:focus {
      color: #212129;
    }
  }
  & span:first-child {
    position: relative;
    margin-bottom: 30px;
  }
  & span:last-child {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #212129;
    white-space: nowrap;
  }
}

.home__lop-element:not(:nth-child(2n + 2)) {
  margin-right: 80px;
  // margin-bottom: 10px;
}

@media screen and (min-width: 400px) {
  .home__lop-element:not(:nth-child(2n + 2)) {
    margin-right: unset;
    margin-bottom: unset;
    margin-bottom: unset;
  }

  .home__lop-list {
    max-width: 380px;
    width: unset;
  }

  .home__lop-element {
    width: 100px;
    margin-right: unset;
    margin-bottom: unset;
    margin-bottom: 20px;
    & a {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      font-weight: 700;
      font-size: 20px;
      line-height: 16px;
      color: #212129;
      &:hover,
      &:focus {
        color: #212129;
      }
    }
    & span {
      white-space: nowrap;
    }
    & span:first-child {
      position: relative;
      margin-bottom: 30px;
    }
    & span:last-child {
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      color: #212129;
    }
    & img {
      width: 60px;
      height: 60px;
      margin-bottom: 9px;
      border-radius: 50%;
    }
    &:hover span:first-child::after,
    &:focus span:first-child::after {
      position: absolute;
      content: "";
      bottom: -10px;
      left: 50%;
      height: 2px;
      width: 20px;
      transform: translateX(-50%);
      background-color: #f6c465;
    }
  }

  .home__lop-element:not(:first-child) {
    margin-right: 35xp;
    margin-bottom: 20px;
  }

  .home__lop-element:not(:nth-child(3n + 4)) {
    margin-right: 35px;
    margin-bottom: 20px;
  }

  .home__lop-element:first-child {
    margin-right: 50%;
    margin-left: 50%;
  }
}

.home__section-partners {
  padding-top: 60px;
  padding-bottom: 60px;
  & img {
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .home__lop-element:nth-last-child(n + 4) {
    margin-bottom: 45px;
  }
}

.home__partnert__dots-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home__partners__slider-dots {
  display: block;
  height: 8px;
  width: 8px;
  background-color: #c4c4c4;
  border-radius: 50%;
}

.home__partners__slider-dots:first-child {
  height: 12px;
  width: 12px;
  background-color: #f6c465;
}

.home__partners__slider-dots:not(:last-child) {
  margin-right: 10px;
}

.home__draw-element__wrapper-2 {
  position: relative;
  display: none;
}

.home__draw-picture__element-title {
  font-family: "Rubik";
  position: absolute;
  top: 135px;
  left: 26px;

  color: #ffffff;
  font-weight: 700;
  font-size: 25px;
  & span {
    vertical-align: super;
    font-size: 12px;
  }
}

.home__crypto-element__link {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
}

////////////////////////////////////////////////@

@media screen and (min-width: 990px) {
  .home__draw-picture__element-title {
    font-family: "Rubik";
    position: absolute;
    top: 65px;
    left: 35px;
    color: #ffffff;
    font-weight: 700;
    font-size: 40px;
    & span {
      vertical-align: super;
      font-size: 20px;
    }
  }

  .home__section-lottery {
    padding-bottom: 85px;
  }

  .home__section-history {
    padding-top: 84px;
    padding-bottom: 72px;
  }

  .home__lottery-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .home__draw-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 90px;
  }

  .main-title.home__title {
    width: 300px;
  }

  .home__title.second {
    width: 306px;
    margin-bottom: 50px;
  }

  .home__title.second::after {
    content: "";
    right: -70px;
  }

  .home-lottery__container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 825px;
    height: 187px;
    margin-bottom: 0;
    padding-bottom: 0;
    // padding-top: 33px;
  }

  .home-lottery__wrapper {
    position: absolute;
    justify-content: flex-start;
    left: -74px;
    width: 166px;
    padding-left: 21px;
    margin-bottom: 0;
    transform: rotate(-90deg);
  }

  .home-lottery__wrapper-left__title {
    position: relative;
  }

  .home-lottery__wrapper-left__title::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -37px;
    height: 1px;
    width: 20px;
    background-color: #000000;
  }

  .home-lottery__lottery-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #212129;
    margin-bottom: 7px;
  }

  .home-lottery__lottery-element {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    font-family: "Rubik";
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #212129;
    border-radius: 50%;
    border: solid 2px #f6c465;
  }

  .home-lottery__lottery-element:not(:last-child) {
    margin-right: 12px;
  }

  .home-lottery__date-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #212129;
  }

  .home-lottery__wrapper-2 {
    display: flex;
  }

  .home-lottery__wrapper-5 {
    display: flex;
  }

  .home-lottery__wrapper-4 {
    display: flex;
  }

  .home-lottery__wrapper-3 {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    padding: 0;
    & span {
      margin-right: 11px;
    }
    & svg {
      margin-right: 14px;
    }
  }

  .home-lottery__ticket-wrapper {
    display: block;
    position: relative;
    height: 166px;
    width: 255px;
    margin-bottom: 0;

    & svg {
      margin-bottom: 8px;
    }
  }

  .home__draw-element {
    width: 540px;
    padding: 18px 0 16px 39px;
  }

  .home__draw-element:first-child {
    margin-bottom: 0;
  }

  .home__draw-element:not(:last-child) {
    margin-right: 30px;
  }

  .home__draw-element__wrapper ~ div {
    display: block;
    & img {
      width: unset;
      height: unset;
    }
  }

  .home__crypto-element {
    // justify-content: flex-start;
    width: 350px;
  }

  .home__crypto-element:not(:last-child) {
    margin-right: 30px;
  }

  .home__crypto-list {
    display: flex;
    justify-content: center;
  }

  .home__history-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: -15px;
    margin-bottom: 40px;
  }

  .home__history-element {
    margin: 15px;
    width: calc((100% - 90px) / 3);
    height: 277px;
  }

  .home__history-price__wrapper {
    padding: 9px 0 16px 0;
  }

  .home__section-top {
    background-color: #ffffff;
    padding-top: 66px;
  }

  .home__lop-list {
    padding-bottom: 30px;
  }

  .home__lop-element:not(:last-child) {
    margin-right: 40px;
  }

  .home__section-partners {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .main-title.home__partner-title {
    width: 200px;
  }

  .main-title.top-title {
    width: 340px;
  }

  .home-lottery__container-1 {
    display: flex;
    margin-bottom: 0;
  }

  .home-lottery__container-2 {
    display: block;
    padding: 0;
    margin-bottom: 0;
  }

  .main-title.home__history-title {
    font-size: 20px;
    line-height: 20px;
    width: 270px;
  }

  @media screen and(min-width: 400px) {
    .main-title.home__history-title {
      width: 300px;
    }
  }

  .home__lop-list {
    max-width: unset;
  }

  .home__lop-element {
    width: unset;
  }

  .home__lop-element:nth-child(n + 1) {
    margin: 0;
  }

  .home__lop-element:not(:last-child) {
    margin-right: 45px;
  }

  .home__partnert__dots-wrapper {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .home-lottery__container-2 {
    display: flex;
  }

  .home-lottery__wrapper-3 {
    padding-left: 20px;
  }
}
