@import "../../_helpers/variables";

.ticket-block {
    background: linear-gradient(248.19deg, #3E4550 24.97%, #1E2632 69.73%);
    border-radius: 15px;
    position: relative;
    &:after {
        position: absolute;
        bottom: -49px;
        left: 348px;
        display: block;
        content: '';
        width: 102px;
        height: 123px;
        background: url("./img/coin-steps.svg") no-repeat;
        background-size: cover;
        z-index: 3;
        @media only screen and (max-width: $responsive-size-big-tablet) {
            bottom: -80px;
        }
        @media only screen and (max-width: 549px) {
            left: 70%;
        }
    }
    .holder-ticket {
        padding: 0 45px;
        @media only screen and (max-width: $responsive-size-mobile) {
            padding: 0 20px;
        }
    }

    .ticket-head {
        padding: 33px 0 32px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid rgba(255, 255, 255, 0.1);
        //@media only screen and (max-width: 767px) {
        //    flex-direction: column;
        //}
        .column {
            width: 100%;
            max-width: 50%;
            display: flex;
            align-items: center;
            @media only screen and (max-width: 767px) {
                max-width: initial;
                width: initial;
                //margin-bottom: 15px;
            }
            &:last-child {
                justify-content: flex-end;
                @media only screen and (max-width: 767px) {
                    margin-bottom: 0;
                    //justify-content: center;
                }
            }
            .info {
                .name {
                    display: block;
                    font-family: 'Intro', sans-serif;
                    font-weight: bold;
                    font-size: 20px;
                    line-height: 20px;
                    text-transform: uppercase;
                    color: #FFFFFF;
                }
            }
            .btn {
                margin-left: 15px;
                @media only screen and (max-width: $responsive-size-stand-mobile) {
                    padding: 10px;
                    height: 45px;
                    width: 45px;
                    min-height: 45px;
                }
                svg {
                    @media only screen and (max-width: $responsive-size-stand-mobile) {
                        margin-right: 0;
                    }
                }
                span {
                    @media only screen and (max-width: $responsive-size-stand-mobile) {
                        display: none;
                    }
                }
            }
        }
    }
    .number-list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding: 30px 0;

        .item {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px 0;
            width: calc(100% / 9);
            @media only screen and (max-width: $responsive-size-stand-mobile) {
                width: calc(100% / 5);
            }
            @media only screen and (max-width: $responsive-size-big-mobile) {
                width: calc(100% / 4);
                padding: 15px 0;
            }

            .payment-check {
                position: relative;
                input {
                    width: 0;
                    height: 0;
                    position: absolute;
                    opacity: 0;
                }
                label {
                    font-family: "Rubik", sans-serif;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 57px;
                    height: 57px;
                    background: transparent;
                    border: 1px solid #EB3B3B;
                    box-sizing: border-box;
                    border-radius: 50px;
                    font-weight: bold;
                    font-size: 15px;
                    line-height: 18px;
                    text-align: center;
                    letter-spacing: 0.05em;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    outline: none;
                    padding: 0;
                    margin: 0;
                    transition: all linear 0.3s;
                    overflow: hidden;
                    cursor: pointer;
                    @media only screen and (max-width: $responsive-size-mobile) {
                        width: 50px;
                        height: 50px;
                    }
                    &:hover {
                        //background: #E8922D;
                        //border: 1px solid #E8922D;
                        border: 2px solid #fff;
                    }
                }
                input:checked + label {
                    background: #EB3B3B;
                }
            }
        }
    }
    .ticket-stats {
        background: linear-gradient(87.16deg, #FFE58B -4.55%, #E8922D 103.59%);
        border-radius: 0px 0px 15px 15px;
        padding: 30px 45px;
        @media only screen and (max-width: $responsive-size-big-tablet) {
            position: relative;
            z-index: 3;
        }
        .holder {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 50px;
            width: 100%;
            @media only screen and (max-width: 767px) {
                flex-direction: column;
                height: initial;
            }

            .number-tickets {
                font-weight: bold;
                font-size: 13px;
                line-height: 16px;
                text-align: center;
                letter-spacing: 0.05em;
                text-transform: uppercase;
                color: #1E2632;
                display: flex;
                align-items: center;
                @media only screen and (max-width: 767px) {
                    padding-bottom: 15px;
                    margin-bottom: 15px;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                    width: 100%;
                    justify-content: center;
                }
                span {
                    font-weight: bold;
                    font-size: 15px;
                    line-height: 18px;
                    letter-spacing: 0.05em;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    background: #EB3B3B;
                    border-radius: 20px;
                    padding: 5px 10px;
                    margin-left: 10px;
                }
            }
            .price {
                font-weight: bold;
                font-size: 13px;
                line-height: 16px;
                text-align: center;
                letter-spacing: 0.05em;
                text-transform: uppercase;
                color: #1E2632;
                display: flex;
                align-items: center;
                @media only screen and (max-width: 767px) {
                    width: 100%;
                    justify-content: center;
                }
                span {
                    font-weight: bold;
                    font-size: 15px;
                    line-height: 18px;
                    letter-spacing: 0.05em;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    background: #EB3B3B;
                    border-radius: 20px;
                    padding: 5px 10px;
                    margin-left: 10px;
                }
            }
        }
    }
    .checkbox {
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            border: solid 1px #F6C465;
            background: #FFF;
            cursor: pointer;
            font-weight: 500;
            font-size: 16px;
            line-height: 13px;
            color: #212129;
            @media screen and (min-width: 400px) {
                width: 45px;
                height: 45px;
                font-size: 21px;
                line-height: 16px;
            }
        }
    }
}
.ticket-balance {
    background: linear-gradient(87.16deg, #FFE58B -4.55%, #E8922D 103.59%);
    box-shadow: 10px 10px 0px rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    position: relative;
    padding: 40px 10px;
    margin-bottom: 35px;
    &:before,
    &:after {
        position: absolute;
        display: block;
        content: '';
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-size: cover !important;
        z-index: 1;
    }
    &:before {
        background: url("./img/bg-br-step.svg") no-repeat;
    }
    &:after {
        background: url("./img/bg-bt-step.svg") no-repeat;
    }
    .contain-balance {
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h3 {
        font-weight: bold;
        font-size: 17px;
        line-height: 21px;
        text-align: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #1E2632;
        margin-bottom: 10px;
    }
    .balance-info {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
        flex-wrap: wrap;
        .item {
            border-radius: 20px;
            //margin-left: 10px;
            font-weight: bold;
            font-size: 15px;
            line-height: 18px;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            //color: #1E2632;
            //border: 1px solid rgba(30, 38, 50, 0.25);
            //background: none;
            padding: 0;
            //background: #EB3B3B;
            background: none;
            border: none;
            color: #FFFFFF;
            //&:first-child {
            //    margin-left: 0;
            //    background: #EB3B3B;
            //    border: none;
            //    color: #FFFFFF;
            //}
            select {
                background: #EB3B3B url("./img/arrow-select.svg") no-repeat calc(100% - 25px) 50%;
                outline: none;
                border-radius: 25px;
                padding: 7px 45px 7px 30px;
                border: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                font-family: 'Montserrat', sans-serif;
                font-weight: bold;
                font-size: 15px;
                line-height: 18px;
                letter-spacing: 0.05em;
                text-transform: uppercase;
                color: #FFFFFF;
                min-height: 50px;
                option {
                    font-family: 'Montserrat', sans-serif;
                    font-weight: bold;
                    font-size: 15px;
                    line-height: 18px;
                    letter-spacing: 0.05em;
                    text-transform: uppercase;
                    color: #1E2632;
                }
            }
        }
    }
}
.info-text {
    font-size: 16px;
    line-height: 33px;
    color: rgba(255,255,255,0.75);
    margin-bottom: 30px;
    h6 {
        font-weight: 800;
        font-size: 16px;
        line-height: 33px;
        color: rgba(255,255,255,0.75);
        margin: 0;
    }
    p {
        margin: 0;
    }
}
.prize-holder {
    background: url("./img/bg-prize-poll.svg") no-repeat 50% -300px;
}
.prize-box {
    padding: 150px 0;
    transform: translateY(-140px);
    margin: 0 0 -140px;
    position: relative;
    //background: url("./img/bg-prize.svg") no-repeat 50% 100%;
    @media only screen and (max-width: $responsive-size-big-tablet) {
        padding: 50px 0;
        transform: none;
        margin: 0;
        background: none;
    }
    h2 {
        text-align: center;
        margin-bottom: 80px;
        font-size: 60px;
        line-height: 60px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    .prize-list {
        display: flex;
        justify-content: space-between;
        max-width: 945px;
        margin: 0 auto;
        .item {
            display: flex;
            flex-direction: column;
            align-items: center;
            .ico {
                height: 240px;
                padding: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    display: block;
                }
            }
            .number {
                font-family: 'Intro', sans-serif;
                font-weight: bold;
                font-size: 40px;
                line-height: 40px;
                text-align: center;
                letter-spacing: 0.05em;
                color: #FFFFFF;
                display: block;
                margin-bottom: 5px;
            }
            .info {
                display: block;
                font-size: 18px;
                line-height: 24px;
                text-align: center;
                color: #F2DA62;
            }
        }
    }
}
.distribution-box {
    padding: 140px 0;
    background: #fff;
    position: relative;
    //overflow-x: clip;
    @media only screen and (max-width: $responsive-size-mobile) {
        margin: 0 -15px;
    }
<<<<<<< Updated upstream
    &:before {
        position: absolute;
        top: 0;
        height: 100%;
        left: -100%;
        right: -100%;
        background: #fff;
        display: block;
        content: '';
        @media only screen and (max-width: $responsive-size-mobile) {
            display: none;
        }
    }
=======

>>>>>>> Stashed changes
    &:after {
        position: absolute;
        bottom: -108px;
        right: 214px;
        display: block;
        content: '';
        width: 184px;
        height: 218px;
        background: url("./img/coin-01.svg") no-repeat;
        background-size: cover;
        z-index: 3;
        @media only screen and (max-width: $responsive-size-mobile) {
            display: none;
        }
    }
    .container {
        position: relative;
        &:after {
            position: absolute;
            top: -77px;
            right: 60px;
            display: block;
            content: '';
            width: 102px;
            height: 123px;
            background: url("./img/coin-steps.svg") no-repeat;
            background-size: cover;
            z-index: 3;
            @media only screen and (max-width: $responsive-size-mobile) {
                display: none;
            }
        }
        &:before {
            position: absolute;
            bottom: 50%;
            left: -40px;
            width: 80px;
            height: 111px;
            display: block;
            content: '';
            background: url("./img/coin-sub-1.svg") no-repeat 50% 50%;
            background-size: cover;
            @media only screen and (max-width: $responsive-size-mobile) {
                display: none;
            }
        }
    }
    .head-box {
        text-align: center;
        margin-bottom: 95px;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: rgba(30, 38, 50, 0.75);
    }
    .distribution-list {
        max-width: 968px;
        height: 660px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        @media only screen and (max-width: 549px) {
            height: 480px;
        }
        @media only screen and (max-width: 399px){
            height: 510px;
        }
        //.line {
            //display: flex;
            //align-items: center;
            //margin-top: 100px;
            //&:first-child {
                //margin-top: 0;
            //}
            .item {
                background: linear-gradient(87.16deg, #D8EBFD -4.55%, #8694A9 103.59%);
                border-radius: 150px;
                padding: 30px;
                width: 220px;
                height: 140px;
                position: relative;
                font-weight: bold;
                font-size: 40px;
                line-height: 49px;
                text-align: center;
                letter-spacing: 0.05em;
                text-transform: uppercase;
                color: #1E2632;
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                @media only screen and (max-width: 549px) {
                    padding: 28px 15px 20px;
                    width: 140px;
                    height: 120px;
                    font-size: 30px;
                    line-height: 37px;
                }
                @media only screen and (max-width: 399px){
                    padding: 0;
                    width: 120px;
                    height: 120px;
                    font-size: 26px;
                    line-height: 32px;
                }
                &:after {
                    position: absolute;
                    top: 0;
                    left: 0;
                    background: url("./img/bg-dist-item.svg") no-repeat 100% 100%;
                    width: 100%;
                    height: 100%;
                    z-index: 1;
                    display: block;
                    content: '';
                }
                &.ticket {
                    width: 318px;
                    height: 180px;
                    background: linear-gradient(87.16deg, #FFE58B -4.55%, #E8922D 103.59%);
                    border-radius: 150px;
                    position: relative;
                    margin: 100px auto;
                    @media only screen and (max-width: 549px) {
                        margin: 30px auto;
                    }
                    .ico {
                        margin-bottom: 15px;
                        svg {
                            display: block;
                        }
                    }
                    .name {
                        font-weight: bold;
                        font-size: 20px;
                        line-height: 24px;
                        letter-spacing: 0.05em;
                        text-transform: uppercase;
                        color: #1E2632;
                        display: block;
                    }
                    .arrow {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: absolute;
                        width: 100px;
                        height: 100px;
                        @media only screen and (max-width: 549px) {
                            width: 50px;
                            height: 50px;
                        }
                        svg {
                            @media only screen and (max-width: 549px) {
                                width: 50px;
                                height: 50px;
                            }
                        }
                        &.top {
                            left: 50%;
                            transform: translateX(-50%);
                            top: -100px;
                            @media only screen and (max-width: $responsive-size-big-tablet) {
                                right: -75px;
                                left: initial;
                                transform: rotateZ(45deg);
                            }
                            @media only screen and (max-width: $responsive-size-stand-mobile) {
                                left: 52%;
                                right: initial;
                            }
                            @media only screen and (max-width: 549px) {
                                top: -50px;
                            }
                        }
                        &.bottom {
                            left: 50%;
                            transform: translateX(-50%);
                            bottom: -100px;
                            @media only screen and (max-width: $responsive-size-big-tablet) {
                                right: -75px;
                                left: initial;
                                transform: rotateZ(-45deg);
                            }
                            @media only screen and (max-width: $responsive-size-stand-mobile) {
                                left: 52%;
                                right: initial;
                            }
                            @media only screen and (max-width: 549px) {
                                bottom: -50px;
                            }
                        }
                        &.right {
                            right: -100px;
                            transform: translateY(-50%);
                            top: 50%;
                            @media only screen and (max-width: $responsive-size-big-tablet) {
                                left: -75px;
                                right: initial;
                                bottom: -100px;
                                top: initial;
                                transform: rotateZ(135deg);
                            }
                            @media only screen and (max-width: $responsive-size-stand-mobile) {
                                right: 52%;
                                left: initial;
                            }
                            @media only screen and (max-width: 549px) {
                                bottom: -50px;
                            }
                        }
                        &.left {
                            left: -100px;
                            transform: translateY(-50%);
                            top: 50%;
                            @media only screen and (max-width: $responsive-size-big-tablet) {
                                right: initial;
                                top: -100px;
                                left: -75px;
                                transform: rotateZ(45deg);
                            }
                            @media only screen and (max-width: $responsive-size-stand-mobile) {
                                right: 52%;
                                left: initial;
                            }
                            @media only screen and (max-width: 549px) {
                                top: -50px;
                            }
                        }
                    }
                }
                &.center {
                    margin: 0 auto;
                }
                &.center-top {
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    @media only screen and (max-width: $responsive-size-big-tablet) {
                        left: 0;
                        transform: none;
                    }
                }
                &.center-bottom {
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    @media only screen and (max-width: $responsive-size-big-tablet) {
                        right: 0;
                        left: initial;
                        transform: none;
                    }
                }
                &.right {
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translateY(-50%);
                    @media only screen and (max-width: $responsive-size-big-tablet) {
                        bottom: 0;
                        top: initial;
                        right: initial;
                        left: 0;
                        transform: none;
                    }
                }
                &.left {
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                    @media only screen and (max-width: $responsive-size-big-tablet) {
                        top: 0;
                        left: initial;
                        right: 0;
                        transform: none;
                    }
                }
                .info {
                    font-weight: bold;
                    font-size: 15px;
                    line-height: 18px;
                    letter-spacing: 0.05em;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    background: #EB3B3B;
                    border-radius: 20px;
                    padding: 7px 20px;
                    position: relative;
                    z-index: 2;
                    @media only screen and (max-width: 549px) {
                        font-size: 12px;
                        line-height: 15px;
                    }
                }
                strong {
                    display: block;
                    position: relative;
                    z-index: 2;
                }
            }
        //}
    }
}
.new-tickets {
    position: relative;
    overflow: hidden;
    padding: 140px 0 90px;
    //&:after {
    //    position: absolute;
    //    content: '';
    //    display: block;
    //    width: 100%;
    //    max-width: 1300px;
    //    height: 1300px;
    //    left: 50%;
    //    transform: translateX(-50%);
    //    top: -50%;
    //    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.25) 0%, rgba(33, 33, 41, 0) 100%);
    //    z-index: 1;
    //}
    .head-box {
        text-align: center;
        margin-bottom: 125px;
    }
}
.list-new-tickets {
    .item {
        background: linear-gradient(248.19deg, #3E4550 24.97%, #1E2632 69.73%);
        border-radius: 15px;
        padding: 0 50px 40px;
        margin-top: 30px;
        @media only screen and (max-width: $responsive-size-mobile) {
            padding: 0 20px 20px;
        }
        &:first-child {
            margin-top: 0;
        }
        .head {
            padding: 23px 0 27px;
            border-bottom: 2px solid rgba(255, 255, 255, 0.1);
            margin-bottom: 15px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            @media only screen and (max-width: 767px) {
                flex-direction: column;
                align-items: flex-start;
                border: none;
                margin-bottom: 0;
            }
            .name {
                display: block;
                font-family: 'Intro', sans-serif;
                font-weight: bold;
                font-size: 20px;
                line-height: 20px;
                text-transform: uppercase;
                color: #FFFFFF;
                @media only screen and (max-width: 767px) {
                    width: 100%;
                    text-align: left;
                    margin-bottom: 20px;
                }
            }
            .info {
                border: 2px solid rgba(255, 255, 255, 0.1);
                box-sizing: border-box;
                border-radius: 50px;
                padding: 13px 30px 12px;
                display: flex;
                font-weight: bold;
                font-size: 12px;
                line-height: 15px;
                text-align: center;
                letter-spacing: 0.05em;
                text-transform: uppercase;
                color: rgba(255, 255, 255, 0.75);
                .separator {
                    margin: 0 15px;
                    color: rgba(255, 255, 255, 0.1);
                }
                @media only screen and (max-width: 767px) {
                    width: 100%;
                    justify-content: center;
                }
            }
            .win-sum {
                font-weight: bold;
                font-size: 13px;
                line-height: 16px;
                text-align: center;
                letter-spacing: 0.05em;
                text-transform: uppercase;
                color: #FFFFFF;
                margin-left: 40px;
                display: flex;
                align-items: center;
                @media only screen and (max-width: 767px) {
                    display: none;
                }
                span {
                    background: #1E2632;
                    border-radius: 20px;
                    padding: 5px 10px;
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 17px;
                    letter-spacing: 0.05em;
                    text-transform: uppercase;
                    color: #28D83A;
                    display: block;
                    margin-left: 10px;
                }
            }
            .status {
                @media only screen and (max-width: 767px) {
                    display: none;
                }
            }
        }
        .status {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            padding: 6px 16px 6px 11px;
            margin-left: auto;
            border-radius: 20px;
            font-weight: bold;
            font-size: 12px;
            line-height: 15px;
            text-align: right;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: rgba(255,255,255,0.75);
            border: 2px solid #6C7788;
            @media only screen and (max-width: 767px) {
                display: none;
            }
            svg {
                margin-right: 6px;
                display: block;
            }
            &.wait {
                border: 2px solid #6C7788;
                margin-left: auto;
            }
            &.win {
                border: 2px solid #28D83A;
                margin-left: auto;
            }
            &.lose {
                border: 2px solid #EB3B3B;
                margin-left: auto;
            }
        }
        .body {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            @media only screen and (max-width: 767px) {
                flex-direction: column;
                align-items: center;
            }
            .number-list {
                display: flex;
                flex-wrap: wrap;
                @media only screen and (max-width: 767px) {
                    margin-bottom: 30px;
                    justify-content: center;
                    width: 100%;
                }
                .number {
                    display: flex;
                    border: none !important;
                    + .number {
                        margin-left: 18px;
                        @media only screen and (max-width: 767px) {
                            margin-right: 10px;
                        }
                    }
                    &.win {
                        span {
                            border: 1px solid #28D83A;
                        }
                    }
                    span {
                        font-family: "Rubik", sans-serif;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 57px;
                        height: 57px;
                        background: transparent;
                        border: 1px solid #EB3B3B;
                        box-sizing: border-box;
                        border-radius: 50px;
                        font-weight: bold;
                        font-size: 15px;
                        line-height: 18px;
                        text-align: center;
                        letter-spacing: 0.05em;
                        text-transform: uppercase;
                        color: #FFFFFF;
                        outline: none;
                        padding: 0;
                        transition: all linear 0.3s;
                        overflow: hidden;
                        @media only screen and (max-width: 767px) {
                            margin: 0;
                        }
                        @media only screen and (max-width: $responsive-size-mobile) {
                            width: 42px;
                            height: 42px;
                        }
                    }
                }
            }
            .price {
                font-weight: bold;
                font-size: 13px;
                line-height: 16px;
                text-align: center;
                letter-spacing: 0.05em;
                text-transform: uppercase;
                color: #fff;
                display: flex;
                align-items: center;
                span {
                    font-weight: bold;
                    font-size: 15px;
                    line-height: 18px;
                    letter-spacing: 0.05em;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    background: #EB3B3B;
                    border-radius: 20px;
                    padding: 5px 10px;
                    margin-left: 10px;
                }
            }
        }
        .footer {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            padding: 15px 0;
            @media only screen and (max-width: 767px) {
                width: 100%;
            }
            .status {
                display: none;
                margin-left: initial;
                @media only screen and (max-width: 767px) {
                    display: flex;
                }
            }
            .win-sum {
                font-weight: bold;
                font-size: 13px;
                line-height: 16px;
                text-align: center;
                letter-spacing: 0.05em;
                text-transform: uppercase;
                color: #FFFFFF;
                margin-left: 40px;
                align-items: center;
                justify-content: center;
                display: none;
                width: 100%;
                margin-top: 25px;
                @media only screen and (max-width: 767px) {
                    display: flex;
                }
                span {
                    background: #1E2632;
                    border-radius: 20px;
                    padding: 5px 10px;
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 17px;
                    letter-spacing: 0.05em;
                    text-transform: uppercase;
                    color: #28D83A;
                    display: block;
                    margin-left: 10px;
                }
            }
        }
    }
    &.my-tickets {
        .item {
            padding: 0 30px 30px;
            .head {
                padding: 30px 0 20px;
                border-bottom: none;
                margin-bottom: 20px;
                justify-content: flex-start;

                .status {
                    @media only screen and (max-width: 767px) {
                        display: none;
                    }
                }
            }
            .body {
                .number-list {
                    margin: 0 -15px;
                    .number {
                        padding: 15px;
                        &.win {
                            border: 1px solid #28D83A;
                        }
                    }
                }
                .price {
                    span {
                        background: #1E2632;
                    }
                }
            }
            .footer {
                .status {
                    display: none;
                    margin-left: initial;
                    @media only screen and (max-width: 767px) {
                        display: flex;
                    }
                }
            }
        }
    }
}
.info-tickets {
    padding-top: 30px;
    font-size: 14px;
    line-height: 27px;
    color: rgba(255,255,255,0.75);
    padding-left: 15px;
    h4 {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 33px;
        color: #FFFFFF;
        margin: 0;
    }
    .info-list {
        .info-item {
            padding: 30px 0 20px;
            border-top: 1px solid rgba(255, 255, 255, 0.15);
            &:first-child {
                border-top: none;
            }
            .ico {
                margin-bottom: 14px;
                width: 32px;
                height: 32px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 20px;
                svg {
                    display: block;
                }
                &.wait {
                    border: 2px solid #6C7788;
                }
                &.win {
                    border: 2px solid #28D83A;
                }
                &.lose {
                    border: 2px solid #EB3B3B;
                }
            }
            .name {
                display: block;
                font-weight: 500;
                text-transform: uppercase;
            }
            p {
                margin: 0;
            }
        }
    }
}