@import "../../_helpers/variables";

.btn {
  position: relative;
  top: 0px;
  border: 1px solid transparent;
  font-weight: 500;
  font-size: 14px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  outline: none !important;
  color: #fff;

  border-radius: 50px;
  transition: all linear 0.3s;
  min-height: 50px;
  padding: 15px 30px;
  svg {
    display: block;
    margin-right: 10px;
  }

  &-default {
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.1);
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.75);

    &:hover,
    &:focus {
      color: #212129;
      background: linear-gradient(90deg, rgba(255, 229, 139, 1) -25%, rgba(232, 146, 45, 1) 125%);
      border: 2px solid transparent;
      svg {
        path {
          fill: #212129;
          stroke:#212129;
        }
      }
    }
  }

  &-primary {
    color: #212129;
    background: linear-gradient(90deg, rgba(255, 229, 139, 1) -25%, rgba(232, 146, 45, 1) 125%);
    border: 2px solid transparent;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;


    &:hover,
    &:focus {
      color: rgba(255, 255, 255, 0.75);
      background: transparent;
      border: 2px solid rgba(255, 255, 255, 0.1);
      svg {
        path {
          fill: rgba(255, 255, 255, 0.75);
          stroke:rgba(255, 255, 255, 0.75);
        }
      }
    }
  }

  &-standart,
  &-success {
    min-width: 120px;
    color: #ffffff;
    outline: none;

    &:hover,
    &:focus,
    &:active {
      background: transparent !important;
      border: 1px solid rgba(136, 135, 253, 1) !important;
    }
  }
  &-danger {
    background-color: #d9534f;
    border-color: #d43f3a;
    outline: none;
    &:hover,
    &:focus,
    &:active {
      background: #c9302c !important;
      border-color: #761c19 !important;
    }
  }
}

.btn-lang {
  min-width: 60px;
  min-height: 48px;
  border: 1px solid transparent;
  font-weight: 500;
  font-size: 14px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  outline: none !important;
  color: #fff;
  background: none;
  svg {
    display: block;
    margin-left: 8px;
  }
}
.dropdown-lang {
  display: inline-block;
  width: 60px;
  position: relative;
  z-index: 2;
  .dropdown-menu {
    min-width: initial;
    margin-top: 6px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: linear-gradient(87.16deg, #ffe58b -4.55%, #e8922d 103.59%);
    padding: 0;
    width: 100%;
  }
  a {
    display: block;
    width: 100%;
    padding: 5px;
    text-decoration: none;
    background: none;
    color: #000000;
    transition: 250ms ease-in-out;
    &:hover,
    &:focus {
      color: #fff;
      background: none;
    }
  }
}
