.banner-box {
    &.container {
        max-width: 1800px;
        min-height: 788px;
        background: url("./img/img-banner.svg") no-repeat 50% 0;
        padding-left: 90px;
        padding-right: 90px;
    }
    .head-banner {
        margin-bottom: 105px;
        .title-box {
            h1 {
                margin: 0 0 22px;
            }
        }
    }
    .links-list {
        display: flex;
        justify-content: space-between;
        a {
            display: flex;
            align-items: center;
            position: relative;
            width: 31.25%;
            font-weight: 300;
            font-size: 30px;
            line-height: 37px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: #1E2632;
            padding: 30px 40px;
            border-radius: 150px;
            &:after {
                position: absolute;
                height: 100%;
                width: 100%;
                background: url("./img/link-mask.svg") no-repeat 100% 50%;
                display: block;
                content: '';
                top: 0;
                left: 0;
                z-index: 1;
            }
            &.color1 {
                background: linear-gradient(87.16deg, #FFE58B -4.55%, #E8922D 103.59%);
            }
            &.color2 {
                background: linear-gradient(87.16deg, #FFEB82 -4.55%, #D9AF1B 103.59%);
            }
            &.color3 {
                background: linear-gradient(87.16deg, #D8EBFD -4.55%, #8694A9 103.59%);
            }
            span {
                position: relative;
                z-index: 2;
            }
            .ico {
                display: flex;
                height: 120px;
                width: 120px;
                align-items: center;
                justify-content: center;
                margin-right: 17px;
                background: #FFFFFF;
                border-radius: 50%;
                svg {
                    display: block;
                }
            }
            .arrow {
                display: block;
                margin-left: auto;
                svg {
                    display: block;
                }
            }
        }
    }
}