@import "../../_helpers/variables";

.table .table {
  background: none;
}

.table {
  background: linear-gradient(248.19deg, #3E4550 24.97%, #1E2632 69.73%);
  border-radius: 15px;
  padding: 50px 75px;
  @media only screen and (min-width: $responsive-size-tablet) {
    table-layout: fixed;
  }
  .table-head {
    margin: 0 -75px;
    padding: 0 75px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  }

    table {
      width: 100%;
      @media only screen and (min-width : $responsive-size-tablet) {
        table-layout: fixed;
      }

      thead {
        border: none;
        tr {
          th {
            border-top: none;
            font-weight: bold;
            font-size: 15px;
            line-height: 18px;
            text-transform: uppercase;
            color: #FFFFFF;
            padding-bottom: 21px;

            @media only screen and (max-width : $responsive-size-tablet) {
              padding: 18px 20px;
              display: inline-flex;
              width: 50%;
            }
          }
        }
      }
      tbody {
        tr {
          td {
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            border-top: none;
            padding: 24px 0;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            color: #FFFFFF;
            opacity: 0.75;

            &.red {
              color: #EB3B3B;
            }
            &.green {
              color: #28D83A;
            }
            &.game1 {
              color: #FAAD02;
            }
            &.game2 {
              color: #EAD052;
            }
            &.game3 {
              color: #B6D5DF;
            }

            @media only screen and (max-width : $responsive-size-tablet) {
              display: inline-flex;
              align-items: center;
              width: 50%;
            }

            @media only screen and (max-width : $responsive-size-big-mobile) {
              width: 100%;
              justify-content: space-between;
            }
          }
        }
      }

      &.reactive-table {
        tbody {
          tr {
            td {
              justify-content: space-between;
            }
          }
        }
      }
    }

}

    .form-control {
      min-width: 50px;
      padding-left: 8px;
      padding-right: 8px;
      text-align: center;
    }
/*
  .table-main {
    margin-top: 30px;

    width: 100%;
    &.table-main-tickets {
      @media only screen and (max-width : $responsive-size-tablet) {
        width: calc(100% - 20px);
        margin: 0 auto;
        padding-left: 0;
        padding-right: 0;
      }
    }
    @media only screen and (max-width : $responsive-size-tablet) {
      overflow-x: scroll;
    }
    .table-tickets {
      width: 100%;
      @media only screen and (max-width : $responsive-size-tablet) {
        width: 830px;
      }

      thead {
        tr {
          th {

            @media only screen and (max-width : $responsive-size-tablet) {
              display: table-cell;
              width: initial;
            }
          }
        }
        @media only screen and (max-width : $responsive-size-tablet) {
          display: table-row-group;
        }
      }
      tbody {
        tr {
          td {

            @media only screen and (max-width : $responsive-size-tablet) {
              display: table-cell;
              width: initial;
            }

            @media only screen and (max-width : $responsive-size-big-mobile) {
              width: initial;
              justify-content: flex-start;
            }

            &:last-child {

              @media only screen and (max-width : $responsive-size-big-mobile) {
                justify-content: flex-end;
              }

            }
          }
        }
      }
    }
  }

  .createAt {
    white-space: normal;
    word-break: break-word;
  }

  .amount {
    white-space: nowrap;
  }

  .address, .txid {
    min-width: 180px;
  }

  .table-paycat {
    th {
      white-space: nowrap;
    }
  }

.content-before--none {
  justify-content: flex-end !important;

  &::before {
    content: none !important;
  }
}
.add-balance-row {
  .table-wr {

    table {

      thead {
        tr {
          th {
            &:nth-child(1) {
              width: 30%;
            }
            &:nth-child(2) {
              width: 20%;
            }
            &:nth-child(3) {
              width: 40%;

            }
            &:nth-child(4) {
              width: 10%;
            }
          }
        }
      }
      tbody {
        tr {
          td {
            &:nth-child(1) {
              width: 30%;
            }
            &:nth-child(2) {
              width: 20%;
            }
            &:nth-child(3) {
              width: 40%;

            }
            &:nth-child(4) {
              width: 10%;
            }
          }
        }
      }
    }
  }
}

.withdrawal-table {
  .table-wr {

    table {

      thead {
        tr {
          th {
            &:nth-child(1) {
              width: 20%;
            }
            &:nth-child(2) {
              width: 15%;
            }
            &:nth-child(3) {
              width: 32%;

            }
            &:nth-child(4) {
              width: 32%;
            }
          }
        }
      }
      tbody {
        tr {
          td {
            &:nth-child(1) {
              width: 20%;
            }
            &:nth-child(2) {
              width: 15%;
            }
            &:nth-child(3) {
              width: 32%;

            }
            &:nth-child(4) {
              width: 32%;
            }
          }
        }
      }
    }
  }
}*/