@import "../../_helpers/variables";

.team-box {
    padding-top: 30px;
    padding-bottom: 30px;
    h2 {
        margin-bottom: 50px;
    }
    .head {
        font-family: 'Intro', sans-serif;
        font-weight: normal;
        font-size: 18px;
        line-height: 18px;
        text-transform: uppercase;
        color: #F6C465;
        text-align: center;
        padding-top: 50px;
    }
    .item {
        margin-top: 50px;
        background: linear-gradient(248.19deg, #3E4550 24.97%, #1E2632 69.73%);
        box-shadow: 10px 10px 0px rgba(255, 255, 255, 0.05);
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 40px;
        @media ( max-width: 767px ) {
            padding: 15px;
            align-items: flex-start;
        }
        .team-item__wrapper {
            display: flex;
            align-items: center;
            
        }
        .team-item__content {

        }
        .img {
            margin-right: 25px;
            flex-shrink: 0;
            display: block;
            // margin-bottom: 35px;
            overflow: hidden;
            border-radius: 50%;
            img {
                display: block;
            }
            @media ( max-width: 1366px ) {
                max-width: 160px;
                margin-right: 15px;
            }
            @media ( max-width: 767px ) {
                max-width: 140px;
                margin-right: 15px;
            }
        }
        .name {
            display: block;
            font-family: 'Intro', sans-serif;
            font-weight: 900;
            font-size: 20px;
            line-height: 20px;
            text-transform: uppercase;
            color: #FFFFFF;
            margin-bottom: 5px;
            @media ( max-width: 767px ) {
                font-size: 17px;
            }
        }
        .position {
            font-family: 'Intro', sans-serif;
            font-weight: 400;
            font-size: 14px;
            line-height: 14px;
            text-transform: uppercase;
            color: rgba(246, 196, 101, 1);
            margin-bottom: 15px;
        }
        .social-items {
            display: flex;
            align-items: center;
        }
        .social-items__item {
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: linear-gradient(90deg, #FFEE76 0.02%, #EEA428 100.02%);
            border-radius: 50px;
            transition: all 0.3s;
            &:not(:last-child) {
                margin-right: 15px;
            }
            &:hover {
                transition: all 0.3s;
                background: linear-gradient(250deg, #FFEE76 0.02%, #EEA428 100.02%);
            }
        }
    }
}